<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开发中心</title>
    <link rel="stylesheet" href="../css/djweb.min.css">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../js/net.js"></script>
    <script src="../lib/layui/layui.js"></script>
    <script>
        layui.config({
            base:'../js/'
        }).use('develop');
    </script>
</head>
<body>
    <div class="layui-layout layui-layout-admin webhead">
        <div class="layui-header">
            <a href="index.html"><div class="layui-logo">DJ 云平台</div></a>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="../index.html">首页</a></li>
            </ul>
            <ul id="login_in" class="layui-nav layui-layout-right">
                <li class="layui-nav-item"><a href="views/develop.html">开发者中心</a></li>
                <li class="layui-nav-item"><a href="">消息<span class="layui-badge">9</span></a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        <b id="username"></b>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                        <dd><a href="">退出账号</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="webui-tab">
        <div class="layui-tab layui-tab-card" style="background-color: #ffffff">
            <ul class="layui-tab-title">
                <div class="creat-btn">
                    <a href="product.html" class="layui-btn layui-btn-radius layui-btn-sm">创建产品</a>
                </div>
                <li class="layui-this"><b id="pubcount"></b>个公开协议产品</li>
                <li><b id="pricount"></b>个私有协议产品</li>
            </ul>
            <div class="layui-tab-content product-body" style="">
                <div class="layui-tab-item layui-show">
                    <table class="layui-table">
                        <colgroup>
                            <col width=6%>
                            <col width=17%>
                            <col width=17%>
                            <col width=17%>
                            <col width=17%>
                            <col width=12%>
                            <col width=10%>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>产品名称</th>
                            <th>产品行业</th>
                            <th>设备接入方式</th>
                            <th>创建时间</th>
                            <th>设备接入数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="pubprod">
                        </tbody>
                    </table>
                </div>
                <div class="layui-tab-item">
                    <table class="layui-table">
                        <colgroup>
                            <col width=6%>
                            <col width=17%>
                            <col width=17%>
                            <col width=17%>
                            <col width=17%>
                            <col width=12%>
                            <col width=10%>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>产品名称</th>
                            <th>产品行业</th>
                            <th>设备接入方式</th>
                            <th>创建时间</th>
                            <th>设备接入数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="priprod">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>