<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品信息</title>
    <link rel="stylesheet" href="../css/djweb.min.css">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../lib/layui/layui.js"></script>
    <script>
        layui.config({
            base:'../js/'
        }).use('product');
    </script>
</head>
<body>
<div class="layui-layout layui-layout-admin webhead">
    <div class="layui-header">
        <a href="index.html"><div class="layui-logo">DJ 云平台</div></a>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="../index.html">首页</a></li>
        </ul>
        <ul id="login_in" class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="develop.html">开发者中心</a></li>
            <li class="layui-nav-item"><a href="">消息<span class="layui-badge">9</span></a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <b id="username"></b>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="">退出账号</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="webui-tab">
    <div class="layui-tab layui-tab-card" style="background-color: #ffffff">
        <ul class="layui-tab-title">
            <li class="layui-this"><a>创建产品</a></li>
        </ul>
        <div class="product-creat">
            <div class="layui-tab-content" style="margin: auto;">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">产品名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="pnm" required  lay-verify="required" placeholder="最多输入16个字符" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">产品行业</label>
                            <div class="layui-input-block">
                                <select name="pindu" lay-verify="required">
                                    <option value="智能家居">智能家居</option>
                                    <option value="车载设备">车载设备</option>
                                    <option value="可穿戴设备">可穿戴设备</option>
                                    <option value="医疗保健">医疗保健</option>
                                    <option value="智能玩具">智能玩具</option>
                                    <option value="新能源">新能源</option>
                                    <option value="运动监控">运动监控</option>
                                    <option value="智能教育">智能教育</option>
                                    <option value="环境监控">环境监控</option>
                                    <option value="办公设备">办公设备</option>
                                    <option value="其它">其它</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">产品类别</label>
                            <div class="layui-input-inline">
                                <select name="pcate">
                                    <option value="请选择">请选择</option>
                                    <option value="家用电器">家用电器</option>
                                    <option value="办公设备">办公设备</option>
                                    <option value="穿戴钟表">穿戴钟表</option>
                                    <option value="母婴">母婴</option>
                                    <option value="汽车用品">汽车用品</option>
                                    <option value="智能玩具">智能玩具</option>
                                    <option value="数码设备">数码设备</option>
                                    <option value="运动设备">运动设备</option>
                                    <option value="其它">其它</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">产品进度</label>
                            <div class="layui-input-block">
                                <input type="radio" name="psched" value="有创意想法" title="有创意想法" checked>
                                <input type="radio" name="psched" value="有产品原型" title="有产品原型">
                                <input type="radio" name="psched" value="有工程样机" title="有工程样机">
                                <input type="radio" name="psched" value="已量产" title="已量产">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">产品简介</label>
                            <div class="layui-input-block">
                                <textarea name="pintrod" placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">操作系统</label>
                            <div class="layui-input-block">
                                <input type="radio" name="os" value="Linux" title="Linux" checked>
                                <input type="radio" name="os" value="Android" title="Android">
                                <input type="radio" name="os" value="VxWorks" title="VxWorks">
                                <input type="radio" name="os" value="uC/OS" title="uC/OS">
                                <input type="radio" name="os" value="无" title="无">
                                <input type="radio" name="os" value="其它" title="其它">
                            </div>
                        </div>
                        <div class="layui-form-item" pane="">
                            <label class="layui-form-label">网络运营商</label>
                            <div class="layui-input-block">
                                <input name="mobile" title="移动" type="checkbox" checked="" lay-skin="primary">
                                <input name="telecom" title="电信" type="checkbox" lay-skin="primary">
                                <input name="unicom" title="联通" type="checkbox" lay-skin="primary">
                                <input name="other" title="其它" type="checkbox" lay-skin="primary">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">接入方式</label>
                            <div class="layui-input-block">
                                <input type="radio" name="accway" value="公开协议" title="公开协议" checked>
                                <input type="radio" name="accway" value="私有协议(RGMP)" title="私有协议(RGMP)">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联网方式</label>
                            <div class="layui-input-block">
                                <input type="radio" name="netway" value="wifi" title="wifi" checked>
                                <input type="radio" name="netway" value="移动蜂窝网络" title="移动蜂窝网络">
                                <input type="radio" name="netway" value="NB-IOT" title="NB-IOT">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">接入协议</label>
                            <div class="layui-input-inline">
                                <select name="accprot" lay-filter="accprot" lay-verify="required">
                                    <option value="HTTP">HTTP</option>
                                    <option value="EDP">EDP</option>
                                    <option value="MQTT">MQTT</option>
                                    <option value="Modbus">Modbus</option>
                                    <option value="JT/T808">JT/T808</option>
                                    <option value="TCP透传">TCP透传</option>
                                    <option value="RTMP">RTMP</option>
                                </select>
                            </div>
                            <div class="layui-input-inline">
                                <div id="argument-details" class="argument-details">
                                    <b>HTTP 协议基本功能介绍：</b>
                                    <p>1.上报传感器数据点</p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="ok">确认</button>
                                <button class="layui-btn layui-btn-primary" lay-submit lay-filter="cancel">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>